# Node
node_modules/
.env
.DS_Store

# Changesets
.changeset/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build output
dist/
build/

# Coverage
coverage/

# Misc
*.tgz
*.log

# VSCode
.vscode/
