# Node
node_modules/
.env
.DS_Store

# Changesets
# (Allow .changeset/ to be tracked for versioning and changelogs)

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build output
dist/
build/
src/

# Coverage
coverage/

# Misc
*.tgz
*.log

# VSCode
.vscode/
